

<div class="admin main content"> 
	<%= render 'form' %>

	<br>

	<%= link_to 'Preview', @admin_option , class: "btn btn-sm btn-info" %>  
	<%= link_to 'Back', admin_options_path ,class: "btn btn-sm btn-info" %>

</div>

