 
  <div class="admin main content">
     
    <p><%= option("copyright").value.html_safe %></p>
	<p>Support: team@advn.online</p>
    <p>Guide: help@rubyrails.net</p>
	<p><a href="http://rubyrails.net" target="_blank">http://rubyrails.net</a></p>
    <p><a href="http://rubyonrails.org/" target="_blank">http://rubyonrails.org/</a></p>
    <p><a href="http://guides.rubyonrails.org/" target="_blank">http://guides.rubyonrails.org/</a></p>

 </div>
 
   