  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">    
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
      </div>
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- jQuery 2.2.3 -->
<script src="/lte/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/lte/bootstrap/js/bootstrap.min.js"></script>
<script src="/lte/plugins/fastclick/fastclick.js"></script>
<script src="/lte/dist/js/app.min.js"></script>
<script src="/lte/dist/js/demo.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script>
$(function(){
    $("textarea").wysihtml5({'toolbar': {'html': true , "fa": true } , parser: function(html) { return html; } })
}); 
</script>
</body>
</html>


 