<div class="main content">
	<div id="notice"><%= notice %></div>

	<p>
		<strong>Name:</strong>
		<%= @user.name %>
	</p>
	<p>
		<strong>Email:</strong>
		<%= @user.email %>
	</p>

	
	<%= link_to 'Back', login_path %>
</div>