<section class="top_panel_image top_panel_bg1">
    <div class="top_panel_image_hover"></div>
    <div class="top_panel_image_header">
        <h1 class="top_panel_image_title entry-title">Solutions</h1>
    </div>
</section>

<section class="parallax_section">
    <div class="sc_parallax bg_tint_dark" data-parallax-speed="0.6" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
        <div class="sc_parallax_content parallax_bg1">
            <div class="sc_parallax_overlay">
                <div class="sc_section aligncenter">
                    <h2 class="sc_title sc_title_underline sc_align_center">Fleet Management Telematics</h2>
                    <p>Drivers and vehicles are the asset of any business that has their own fleet. Effectively manage your fleet is essential to ensure reduced expenditure.</p>
                    <p>The ability to location your fleet can be used to ensure proof of delivery, hours behind the wheel and the compliance with working time legislation. We can also able to track the fuel consumption, mileage, speed, excessive Idling, Vehicle Maintenance Alert and many more allowing for other assessment in one centralised cloud-based interface.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page_content">
    <section class="fullwidth_section light_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sc_section">
                        <div class="sc_content container">
                            <h2 class="sc_title sc_title_regular sc_align_center">TRACK</h2>
                            <div class="sc_columns sc_columns_count_2">
                                <div class="col-sm-6 sc_column_item">
                                    <figure class="sc_image sc_image_shape_square" >
                                        <center><img src="images/Track-Logo.png" alt="" style="margin-top:90px"></center>
                                    </figure>
                                </div>
                                <div class="col-sm-6 sc_column_item">
                                    <div class="sc_section" style="margin-top:50px">
                                        <p>
                                            TRACK<sup style="font-size: 9px;">TM</sup> is the latest Mobile Technology in Location Mobility Telematics, which employ a cloud platform that can be accessible either from your Mobile phone or any terminals.
                                        </p>
                                        <p>TRACK<sup style="font-size: 9px;">TM</sup> provides a real time whereabouts of the field staff even they are in an indoor environment. It’s records the daily routes taken by the field staff and saved in the web server which allows an operation manager to generate historical location report. It is a highly versatile platform that also allows room for customization to match industry needs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fullwidth_section light_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sc_section">
                        <div class="sc_content container">
                            <h2 class="sc_title sc_title_regular sc_align_center">TRACK LITE</h2>
                            <div class="sc_columns sc_columns_count_2">
                                <div class="col-sm-6 sc_column_item">
                                    <figure class="sc_image sc_image_shape_square">
                                        <center><img src="images/Track-Lite.png" alt="" width="300"></center>
                                    </figure>
                                </div>
                                <div class="col-sm-6 sc_column_item">
                                    <div class="sc_section" style="margin-top:50px">
                                        <p>
                                            TRACK Lite<sup style="font-size: 9px;">TM</sup> is the latest Mobile Technology in Location Mobility Telematics, which employ a cloud platform that can be accessible either from your Mobile phone or any terminals.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fullwidth_section light_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sc_section">
                        <div class="sc_content container">
                            <h2 class="sc_title sc_title_regular sc_align_center">TRACK LITE PRO</h2>
                            <div class="sc_columns sc_columns_count_2">
                                <div class="col-sm-6 sc_column_item">
                                    <figure class="sc_image sc_image_shape_square">
                                        <center><img src="images/Track-LitePro.png" alt="" width="200"></center>
                                    </figure>
                                </div>
                                <div class="col-sm-6 sc_column_item">
                                    <div class="sc_section" style="margin-top:50px">
                                        <p>
                                            TRACK Lite PRO<sup style="font-size: 9px;">TM</sup> allow users to received their current task assigned from the web portal.
                                        </p>
                                        <p>TRACK Lite PRO<sup style="font-size: 9px;">TM</sup> reports the location, speed and status of the devices and allowing for other assessments in one centralised cloud-based interface. This application can help in job assignment and improve the efficiency of tasks execution.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="fullwidth_section news_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sc_title sc_align_center">With all the information computed by TRACK™, it will benefit you:</h>
                    <div class="sc_section">
                        <div class="sc_content container">
                            <div class="sc_blogger layout_news template_news sc_blogger_horizontal">
                                <div class="columns_wrap">
                                    <div class="col-sm-4 column_item_1">
                                        <div class="post_item post_item_news sc_blogger_item">
                                            <div class="post_featured">
                                                <div class="post_thumb">
                                                    <img alt="Air Freight Forwarding" src="images/news/Track_Solution_Increase-Productivity_400x250.jpg">
                                                    <!--<div class="hover_wrap">-->
                                                    <!--<div class="link_wrap">-->
                                                    <!--<a class="hover_link icon-link" href="#"></a>-->
                                                    <!--<a class="hover_view icon-resize-full" href="images/news/Track_Solution_Increase-Productivity.jpg" title="Air Freight Forwarding"></a>-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <h5 class="post_title">Increase Productivity</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 column_item_2">
                                        <div class="post_item post_item_news sc_blogger_item">
                                            <div class="post_featured">
                                                <div class="post_thumb">
                                                    <img alt="Supply Chain Security" src="images/news/Track_Solution_Improve-Customer-Service_400x250.jpg">
                                                    <!--<div class="hover_wrap">-->
                                                    <!--<div class="link_wrap">-->
                                                    <!--<a class="hover_link icon-link" href="#"></a>-->
                                                    <!--<a class="hover_view icon-resize-full" href="images/news/Track_Solution_Improve-Customer-Service.jpg" title="Supply Chain Security"></a>-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <h5 class="post_title">Improve customer service</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 column_item_3">
                                        <div class="post_item post_item_news sc_blogger_item">
                                            <div class="post_featured">
                                                <div class="post_thumb">
                                                    <img alt="The E-commerce Effect" src="images/news/Track_Solution_Real-Time-Location-Of-Fleet_400x250.jpg">
                                                    <!--<div class="hover_wrap">-->
                                                    <!--<div class="link_wrap">-->
                                                    <!--<a class="hover_link icon-link" href="#"></a>-->
                                                    <!--<a class="hover_view icon-resize-full" href="images/news/Track_Solution_Real-Time-Location-Of-Fleet.jpg" title="The E-commerce Effect"></a>-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <h5 class="post_title">Real Time location of fleet</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 column_item_4">
                                        <div class="post_item post_item_news sc_blogger_item sc_blogger_item_last">
                                            <div class="post_featured">
                                                <div class="post_thumb">
                                                    <img alt="Ocean Cargo Roundtable" src="images/news/Track_Solution_Fleet-Efficiency-By-Monitoring-Excessive-Idling-Time_400x250.jpg">
                                                    <!--<div class="hover_wrap">-->
                                                    <!--<div class="link_wrap">-->
                                                    <!--<a class="hover_link icon-link" href="#"></a>-->
                                                    <!--<a class="hover_view icon-resize-full" href="images/news/Track_Solution_Fleet-Efficiency-By-Monitoring-Excessive-Idling-Time.jpg" title="Ocean Cargo Roundtable"></a>-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <h5 class="post_title">Fleet efficiency by monitoring excessive idling time</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 column_item_4">
                                        <div class="post_item post_item_news sc_blogger_item sc_blogger_item_last">
                                            <div class="post_featured">
                                                <div class="post_thumb">
                                                    <img alt="Import Fundamentals" src="images/news/Track_Solution_Increase-Driver-Safety-And-Better-Driver-Behaviour_400x250.jpg">
                                                    <!--<div class="hover_wrap">-->
                                                    <!--<div class="link_wrap">-->
                                                    <!--<a class="hover_link icon-link" href="#"></a>-->
                                                    <!--<a class="hover_view icon-resize-full" href="images/news/Track_Solution_Increase-Driver-Safety-And-Better-Driver-Behaviour.jpg" title="Import Fundamentals"></a>-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <h5 class="post_title">Increase driver safety and better driver behaviour</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 column_item_4">
                                        <div class="post_item post_item_news sc_blogger_item sc_blogger_item_last">
                                            <div class="post_featured">
                                                <div class="post_thumb">
                                                    <img alt="Intermodal Roundtable" src="images/news/Track_Solution_Efficiently-Manage-Fleet-Maintenance-And-Resulting-In-Reducing-The-Wear-And-Tear-And-Increase-Vehicle-Performance_400x250.jpg">
                                                    <!--<div class="hover_wrap">-->
                                                    <!--<div class="link_wrap">-->
                                                    <!--<a class="hover_link icon-link" href="#"></a>-->
                                                    <!--<a class="hover_view icon-resize-full" href="images/news/Track_Solution_Efficiently-Manage-Fleet-Maintenance-And-Resulting-In-Reducing-The-Wear-And-Tear-And-Increase-Vehicle-Performance.jpg" title="Intermodal Roundtable"></a>-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <h5 class="post_title">Efficiently manage fleet maintenance, resulting in reducing the wear and tear and increase vehicle performance</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>