<p id="notice"><%= notice %></p>

<h1>Catalogues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      
    </tr>
  </thead>

  <tbody>
    <% @catalogues.each do |catalogue| %>
      <tr>
        <td><%= catalogue.name %></td>
        <td><%= catalogue.image %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>
 
