 <div class="admin main content"> 
   <%= render 'form' %>
<br>
   
    <%= link_to 'Preview', @admin_user , class: "btn btn-info" %>  
    <%= link_to 'Back', admin_users_path ,class: "btn btn-info" %>

   
</div>
 
